{% extends 'base.html' %} {% load static %} {% load custom_filters %} {% block link %}
<link rel="stylesheet" href="{% static 'styles/card.css' %}" />
<link rel="stylesheet" href="{% static 'styles/pokemon.css' %}" />
{% endblock link %} {% block title %} Home {% endblock title %} {% block body %}
<main>
  <section class="cards">
    <!--======================= POKEMON CARDS =======================-->

    {% for poke in pokemon %}
    <a href="{% url 'pokemon_view' slug=poke.slug %}" class="card-link">
      <div class="card">
        <div class="inner-frame">
          <div class="card-title">
            <label id="name"
              ><span id="pokemon-name">{{poke.name}}</span>
              <span id="pokemon-id">{{poke.id}}</span></label
            >
            <label id="hp">{{poke.stats.hp}} HP</label>
          </div>
          <div class="card-img">
            <div class="types-img">
              {% for type in poke.types.all %}

              <img
                src="{% static 'images/type_icons/'|img_path:type%}"
                alt="{{poke.types.all.first}}"
                id="type-img"
              />
              {% endfor %}
            </div>
            <img
              src="{{poke.pokemon_img}}"
              alt="{{poke.name}}"
              class="pokemon-img"
            />
          </div>
          <div class="card-stats">
            <div class="top-stats">
              <label>Height: {{poke.height}} </label
              ><label for=""> Weight: {{poke.weight}} lbs</label>
            </div>
            <div class="bottom-stats">
              <div>
                <label class="stat" for="">Speed:</label
                ><label for="">{{poke.stats.speed}}</label>
              </div>
              <div>
                <label class="stat" for="">Attack: </label
                ><label>{{poke.stats.attack}}</label>
              </div>
              <div>
                <label class="stat" for="">Defense:</label
                ><label for=""> {{poke.stats.defense}} </label>
              </div>
              <div>
                <label class="stat" for="">Special Attack:</label>
                <label for="">{{poke.stats|get_val:"special-attack"}}</label>
              </div>
              <div>
                <label class="stat" for="">Special Defense:</label>
                <label for="">{{poke.stats|get_val:"special-defense"}}</label>
              </div>
            </div>
          </div>
          <div class="flavour">
            <p>{{poke.flavor}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    <!--======================= POKEMON CARDS =======================-->

    <!--========================= PAGINATOR ==========================-->
  </section>
  <section class="pagination">
    <div class="paginator">
      <ul>
        <li>
          <a href="?page=1" class="first">
            <img
              src="{% static 'images/pagination/first_icon.png' %}"
              alt="first"
              id="first-pag-icon"
            />
          </a>
        </li>

        {% if page.has_previous %}
        <li id="prev-link">
          <a href="?page={{page.previous_page_number}}" class="prev">
            <img
              src="{% static 'images/pagination/prev_icon.png' %}"
              alt="prev"
              id="prev-pag-icon"
            />
          </a>
        </li>
        <li>
          <a href="?page={{page.previous_page_number}}" for=""
            >{{page.previous_page_number}}</a
          >
        </li>
        {% endif %}

        <li id="current_page"><label>{{page.number}}</label></li>

        {% if page.has_next %}
        <li>
          <a href="?page={{page.next_page_number}}" for=""
            >{{page.next_page_number}}</a
          >
        </li>
        <li id="next-link">
          <a href="?page={{page.next_page_number}}" class="next">
            <img
              src="{% static 'images/pagination/next_icon.png' %}"
              alt="next"
              id="next-pag-icon"
            />
          </a>
        </li>
        {% endif %}

        <li>
          <a href="?page={{page.paginator.num_pages}}" class="last">
            <img
              src="{% static 'images/pagination/last_icon.png' %}"
              alt="last"
              id="last-pag-icon"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!--========================= PAGINATOR ==========================-->
</main>

{% endblock body %}
