{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <header class="clearfix">
      <div class="menu-btn">
        <button class="hamburger-btn btn" 
        aria-controls="primary-navigation"
        aria-expanded="false">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </div>
      <div class="poke-logo">
        <img
          src="{% static 'images/pokemon-logo-png-1428.png' %}"
          alt="PoKemon logo"
          class="logo"
        />
      </div>
      <nav id="primary-navigation" data-visible="false">
        <ul>
          <li><a class="btn" href="#">HOME</a></li>
          <li><a class="btn" href="#">MORE</a></li>
          <li><a class="btn" href="#">ABOUT</a></li>
        </ul>

        <form action="">
          <input type="text" class="search-field" placeholder=" Search" />
          <button class="search-btn btn" type="submit">Search</button>
        </form>
      </nav>
    </header>
    {% block body %} {% endblock body %}

    <script src="{% static 'script/base.js' %}"></script>
  </body>
</html>
