{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <header class='clearfix'>
      <div class="menu-btn button">

      </div>
      <div class="poke-logo">
        <img
          src="{% static 'images/pokemon-logo-png-1428.png' %}"
          alt="PoKemon logo"
          class="logo"
        />
      </div>
      <nav>
        <ul>
        <li><a class="button" href="#">HOME</a></li>
        <li><a class="button" href="#">MORE</a></li>
        <li><a class="button" href="#">ABOUT</a></li>
        </ul>

        <form action="">
        <input type="text" class="search-field" placeholder=" Search">
        <button class="search-btn button" type="submit">Search</button>
        </form>
      </nav>
    </header>
    {% block body %} {% endblock body %}
  </body>
</html>
