:root {
  --primery-nav-color: rgb(197, 29, 29);
  --primery-bg-color: #232323;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
main {
  margin-top: 7rem;
}
body {
  margin: 0;
  background-color: var(--primery-bg-color);
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

/* ============== HEADER =============== */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primery-nav-color);
  z-index: 9999;
}
/* Hamburger Btn
======================== */
.menu-btn {
  display: block;
  position: absolute;
  width: 3rem;
  aspect-ratio: 1;
  top: 1rem;
  right: 1rem;
  z-index: 999999;
  display: none;
}
.hamburger-btn {
  width: 100%;
  aspect-ratio: 1;
  background-color: transparent;
}
.line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  border-radius: 10px;

  transition: transform ease-out 200ms;
}

/* logo
================ */
.poke-logo {
  margin: 0.5em;
  float: left;
}
.logo {
  width: 10em;
  height: auto;
  margin: 0;
}

/* NAVBAR
================== */
nav {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform ease-in 250ms;
}
nav ul {
  margin: 0 1em;
  display: flex;
  float: left;
  list-style: none;
  gap: 3em;
}

nav li {
  margin: 2em 0;
}
nav a {
  font-weight: 600;
  color: whitesmoke;
}
nav form {
  margin: 0 2em 0 0;
  display: flex;
  gap: 0.5em;
}

.nav-open {
  overflow: hidden;
}

#primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}
.active{
  border-radius: 0;
  border-bottom: 1px solid;
  transition: all ease-in 250ms;
}
/* search form
==================== */
.search-field {
  outline: 0;
  width: 70%;
  height: 2.5em;
  border-radius: 10px;
  border: none;
  background-color: var(--primery-bg-color);
  color: #fff;
  padding: 1em;
}
.search-btn {
  width: 5em;
  height: 2.5em;
  color: #232323;
  background-color: #fff;
  cursor: pointer;
}

/* ==========Mobile Devices============= */
@media (max-width: 600px) {
  main{
    margin-left: 0;
    margin-right: 0;
  }
  .menu-btn {
    display: block;
  }
  header {
    justify-content: center;
  }
  .poke-logo{
    margin: 1.5em;
  }
  nav {
    width: 70%;
    padding: 2em;
    padding-top: 3.5em;
    flex-direction: column-reverse;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: flex-end;

    transform: translateX(100%);
  }
  nav ul {
    width: 100%;
    gap: 1em;
    flex-direction: column;
    align-items: end;
    padding: 0%;
  }
  nav li {
    width: 100%;
    margin-bottom: 0;
  }
  nav a {
    width: 100%;
    padding: 0 0 0 20%;
  }
  .line{
    background-color: #fff;
  }
  body.nav-open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  body.nav-open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  body.nav-open .line:nth-child(2) {
    opacity: 0;
  }
}
/* ==========Mobile Devices============= */

/* ============== HEADER END =============== */


/* ============== FOOTER =============== */

footer {
  display: flex;
  background-color: #676767;
  color: #fff;
  margin-top: 5rem;
  width: 100%;
  padding: 1rem;
}
footer p {
  margin: 0;
}
.about {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0 5em;
}
.socials {
  width: 50%;
  margin: 0 5em;
}
.about h3 {
  width: fit-content;
  border-bottom: 1px solid;
}
.socials {
  align-items: center;
}
.socials h4 {
  align-self: self-start;
}
.socials ul {
  list-style: none;
  display: flex;
  gap: 2em;
}
.socials img{
  width: 1.5em;
}
@media (max-width: 800px){
  footer{
    flex-direction: column;
    align-items: center;
  }
  .about, .socials{
    /* margin: 0 2em; */
    width: 100%;
  }
  .socials ul{
    justify-content: center;
  }
}
/* ============== FOOTER =============== */
