main {
  margin: 8rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* gap: 10px; */
  padding: 0;
  border-radius: 10px;
}
.paginator li{
  background-color: white;
  padding: 0 0.5em;
  /* border-left: 1px solid black; */
}
.paginator li:first-child{
  background-color: #232323;
  border-radius: 10px 0 0 10px;
  /* color: #fff; */
}
.paginator li:last-child{
  border-radius: 0 10px 10px 0;
  background-color: #232323;
  /* color: #fff; */
}
.paginator a {
  text-decoration: none;
  padding: 0;
  color: black;
}

.pag-icon{
  width: 1em;
  /* padding: 0; */
}

#current_page{
  background-color: #232323;
  color: #fff;
      box-shadow: 0px 0px 5px 0px black;

}

#next-link, #prev-link{
  padding: .3em;
}