main {
  margin: 8rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card:hover{
  transform: scale(1.1);
  transition: all ease-in-out 200ms;
}
.card{
  margin: 1em;
  transition: all ease-in-out 200ms;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  border-radius: 10px;
}
.paginator li{
  background-color: white;
  padding: 0 0.5em;
}
.paginator li:first-child{
  background-color: #232323;
  border-radius: 10px 0 0 10px;
}
.paginator li:last-child{
  border-radius: 0 10px 10px 0;
  background-color: #232323;
}
.paginator a {
  text-decoration: none;
  padding: 0;
  color: black;
}

#next-pag-icon, #prev-pag-icon{
  width: 16px;
}
#last-pag-icon, #first-pag-icon{
  width: 30px;
  margin: 0 30px;
}

#current_page{
  background-color: #232323;
  color: #fff;
      box-shadow: 0px 0px 5px 0px black;

}

#next-link, #prev-link{
  padding: .3em;
}

/*============================= MODAL =========================*/
.card-modal {
  border: 2px solid;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.left,
.right {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.left{
    flex-direction: column-reverse;
    align-items: center;
}
.poke-img {
  position: relative;
  height: 50%;
}
.pokemon-img {
  position: absolute;
}
.right ul{
    list-style: none;
}
/*============================= MODAL =========================*/